@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/webfonts/fa-solid-900.woff2");

/* Academicons */
@font-face {
    font-family: 'Academicons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('https://cdn.jsdelivr.net/npm/academicons@1/css/academicons.woff') format('woff');
}

.ai {
  font-family: 'Academicons';
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.ai-google-scholar:before { content: "\e9d4"; }
.ai-github:before { content: "\e9f5"; }
.ai-envelope:before { content: "\e9d6"; }
.ai-twitter:before { content: "\e9f1"; }
