.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.float--left { float: left !important; }
.float--right { float: right !important; }
.float--none { float: none !important; }

@media (min-width: 48em) {
  .float--left { float: left !important; }
  .float--right { float: right !important; }
}
