/* ==========================================================================
   ARCHIVE LAYOUT
   ========================================================================== */

.archive__item {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--global-border-color);
}

.archive__item-title {
  margin-bottom: 0.5em;
  font-size: $type-size-3;
}

.archive__item-teaser {
  margin-bottom: 1em;
}

.archive__item-excerpt {
  margin-bottom: 1em;
  color: var(--global-font-color);
}
