/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--global-bg-color);
  border-bottom: 1px solid var(--global-border-color);
  height: $masthead-height;
}

.masthead__inner-wrap {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.masthead__menu {
  flex: 1;
}

.greedy-nav {
  display: flex;
  align-items: center;
}

.visible-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.masthead__menu-item {
  margin: 0 0.5em;
}

.masthead__menu-item--lg {
  font-weight: bold;
}

.hidden-links {
  display: none;
}

#theme-toggle {
  cursor: pointer;
}
